<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SAUCE_TEST_SUITE">
  <test thread-count="5" name="SAUCE_TEST">
    <classes>
    <class name="com.janbask.bdd.Test_Runner"/>

     
    </classes>
  </test> <!-- SAUCE_TEST -->
</suite> <!-- SAUCE_TEST_SUITE -->
